ul.vertical-tabs__menu li:nth-child(2) a strong:after {
    content: '';
    vertical-align: super;
    display: inline-block;
    background-image: url(../images/required.svg);
    background-repeat: no-repeat;
    background-size: 6px 6px;
    width: 6px;
    height: 6px;
    margin: 0 0.3em;
}

.field--name-field-ercore-prefer-no-answer {
    margin-top:30px;
}

.field--name-field-ercore-prefer-no-answer label.option {
    font-weight: bold;
}